<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sen_s_final_presentation.Properties.Settings.EMSConnectionString"
            connectionString="Data Source=DESKTOP-CPPCSH9\SQLEXPRESS;Initial Catalog=EMS;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>